<!DOCKTYPE html>
<html>
    <head>
        <base href=".">
        <meta charset="utf8">
        <title>Angular2 full stack</title>
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
      <h4>다국어</h4>
      <app-welcome-msg></app-welcome-msg>
      <app-lang-selector></app-lang-selector>
    </body>
</html>

<!--https://github.com/ -->